@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --transition: all 300ms ease-in-out;
    --dark-color: #332e29;
    --light-color: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}


.scrollToTopBtn {
	background-color: black;
	border: 1px solid gray;
	color: white;
	border-radius: 50%;
	cursor: pointer;
	font-size: 28px;
	font-weight: 700;
	line-height: 48px;
	height: 64px;
	width: 64px;
	position: fixed;
	bottom: 25px;
	right: 45px;
	z-index: 100;
	opacity: 0;
	transform: translateY(100px);
	transition: all .5s ease;
}

.scrollToTopBtn:hover {
	background-color: white;
	color: black;
}


.showBtn {
	opacity: 1;
	transform: translateY(0);
}

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    z-index: 999;
    cursor: pointer;
    padding: 30px;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal_main {
    position: relative;
    max-width: 750px;
    background-color: azure;
    margin: auto;
    color: black;
    border-radius: 16px;
    padding: 35px;
    cursor: default;
    transform: scale(0);
    transition: transform .8s;
}

.modal_text {
    margin-bottom: 10px;
}
.img_modal {
    width: 600px;
    margin: auto;
}

.img_banner {
    width: 270px;
    border-radius: 40px;
    padding-top: 15px;
    margin-right: 35px;
}

.img_banner:last-child {
    margin-right: 0;
}

.open_modal {
    visibility: visible;
    opacity: 1;
}

.open_modal .modal_main {
    transform: scale(1);
}

.modal_title {
    margin-bottom: 15px;
    font-size: 28px;
}

.modal_close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    width: 24px;
    height: 24px;
    line-height: 24px;
    top: 15px;
    right: 20px;
    outline: 1px solid transparent;
    outline-offset: 3px;
    transition: outline-color .15s ease-in-out;
    border-radius: 60px;
    padding: 0;
    text-align: center;
}


.modal_close:focus {
    outline-color: green;
}

.banner_container {
    height: 70px;
    background: #ffbf00;
    width: 325px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 85%;
    font-size: 16px;
    border-radius: 15px;
    left: -15%;
    z-index: 999;
    transition-property: all;
    transition: all ease 1.1s;
}

.banner_container:hover {
    transform: translateX(75%);
}
    

.banner_container .banner {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.banner_container .banner .center_content {
    text-align: center;
    color: black;
    font-weight: 700;
}

.banner_container .banner .center_content .btn_banner {
    color: black;
    border-radius: 5px;
    border: 2px solid gray;
    background-color: #ffbf00;
    transition-duration: 0.4s;
    margin: auto;
    cursor: pointer;
    padding: 1.5px 1.5px;
    font-weight: 500;
    font-size: 16px;
    padding: 3px;
}

.banner_container .banner .center_content .btn_banner:hover {
    color: white;
    background-color: gray;
}


button .btn {
    cursor: pointer;
    border: none;
    background: transparent;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--dark-color)
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.vh-100 {
    min-height: 100vh
}

h1, h2, h3 {
    margin-top: 0;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.py-7 {
    padding: 7rem 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.lead {
    opacity: 0.95;
    padding: 1rem 0;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2;
    text-align: justify;
}

.tcw {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
}

.tw {
    font-size: 19px;
}

#header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(foto/foto_site/foto.jpg) center/ cover no-repeat fixed;
    justify-content: flex-start;
    align-items: flex-end;
}

#header .container {
    width: 100%;
}

.header-content {
    padding-bottom: 4rem;
}

.header-content h1 {
    font-size: 4.5rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: var(--light-color);
}

.header-content h3 {
    color: var(--light-color);
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 1.5rem;
}

.social-links {
    display: flex;
    margin-top: 3.5rem;
}

.social-links li a {
    width: 40px;
    height: 40px;
    background-color: var(--light-color);
    margin-right: 1rem;
    border-radius: .3rem;
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.2);
    transition: var(--transition);
}

.social-links li a:hover {
    color: darkred;
}

.about-left {
    margin-bottom: 4rem;
    height: 680px;
    overflow: hidden;
}

.about-img {
    height: 680px;
    width: 560px;
}

.btn-down {
    font-size: 3rem;
    display: inline-block;
    margin-top: 1rem;
    transition: var(--transition);
}

.btn-down:hover {
    opacity: 0.8;
    transform: translateY(5px);
}

.btn-down-white {
    color: var(--light-color);
}

.title {
    margin-bottom: 5rem;
}

.title h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    position: relative;
}

.title h2::after {
    position: absolute;
    content: "";
    top: 120%;
    left: 0;
    width: 70px;
    height: 4px;
    background-color: var(--dark-color);
}   

#work {
    background: linear-gradient(rgba(213,213,213, 0.5), rgba(213,213,213, 0.3)), url(fon.jpg) center/ cover no-repeat fixed;
    color: var(--dark-color);
}

#work .title h2, #work h3 {
    color: var(--dark-color);
}

#work .title h2::after {
    background: var(--dark-color);
}

.work-bottom {
    text-align: center;
    margin-bottom: auto;
}

.work-bottom .tooltiptext {
    visibility: visible;
    width: 225px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-weight: 500;
    color: white;
    border-radius: 6px;
    padding: 7.5px 10px;
    position: relative;
    z-index: 1;
    font-size: 14px;
    bottom: 100px;
    left: 90px; 
    transition: all .1s ease;
}


.work-bottom:hover .tooltiptext {
    visibility: visible;
}

.work-bottom > div .icon img {
    width: 50px;
    margin: 0 auto 1.7rem auto;
}

.portfolio-grid  > div {
    transition: var(--transition);
    display: flex;
    align-items: center;
}

.portfolio-grid  > div:hover {
    transform: scale(0.9);
}

.mb-50 {
    margin-bottom: 55px;
}

.btn-center {
    text-align: center;
}

.title_text {
    font-size: 32px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background: #FBE8C9;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 45px;
    margin-bottom: 15px;
}

.block-portfolio:nth-child(n+3) {
    display: none;
}

.block-portfolio.is-visible {
    display: block;
}

.show-more {
    width: 250px;
    line-height: 42px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    font-size: 18px; 
    background: gray;
    color: black;
    cursor: pointer;
    text-align: center;
    transition: color 0.5s;
    position: relative;
    right: 8px;
}

.show-more:hover {
    color: white;
}

#contact {
    background-color: rgba(248, 248, 248);
}

.contact-content {
    flex-direction: column;
    align-items: stretch;
}

.contact-left {
    margin-bottom: 3rem;
}

.contact-left .lead {
    padding: 0.5rem;
}

.contact-left form {
    margin-top: 3rem;
}

.contact-left form .form-control:focus {
    border-color: black;
}

.contact-left form .form-control {
    display: block;
    margin: 1.6rem 0;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
    width: 100%;
    outline: none;
}

form input.error {
    border-color: red;
}

.contact-left form .form-control::placeholder {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.contact-left form .form-control:required:valid {
    background: #fff no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
} 

.form-textarea {
    resize: vertical;
    width: 100%;
    min-height: 100px;
    padding: 5px 10px;
    font-size: 16px;
    max-height: 170px;
}

.fa-envelope {
    position: relative;
    top: 1px;
}

.content_text {
    display: flex;
    align-items: center;
}

.link_content {
    width: 250px;
    height: 44px;
    text-align: center;
    font-weight: 600;
    background-color:#FBE8C9; 
    justify-content: center;
    align-items: center;
    display: flex;
    color: black;
    font-size: 20px;
    border-right: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.link_content.open {
    border: 3px solid green;
}

#mail_block.none {
	display: none;
}

#social_block.none {
	display: none;
}

.center_links {
	display: flex;
	align-items: center;
	font-size: 24px;
	margin-left: 180px;
	height: 60px;
}

.social-links li a.open {
    border: 3px solid gray;
}

.social-links li a {
    margin-right: 15px;
}

.link_content:hover {
    background-color: gainsboro;
}


.contact-left .btn-submit {
    padding: 1.4rem 3rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark-color);
    color: var(--light-color);
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.6rem;
    transition: var(--transition);
    border-radius: 10px;
}

.contact-left .btn-submit:hover {
    background-color: #000;
    cursor: pointer;
}

#reviews {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(foto/foto_site/foto.jpg) center/ cover no-repeat fixed;
    min-height: 65vh;
}

#reviews .title h2 {
    color: var(--light-color);
}

#reviews .title h2::after {
    color: var(--light-color);
}

.reviews-grid > div {
    height: 400px;
    overflow: hidden;
    transition: var(--transition);
}

.reviews-grid > div img {
    height: 120%;
    width: 100%;
    object-fit: cover;
}

.reviews-grid > div:hover {
    transform: scale(0.9);
}

#footer {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.footer-content {
    text-align: center;
}

.footer-content h3 {
    color: var(--light-color);
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.footer-content ul {
    flex-direction: column;
}

.footer-content ul li a {
    color: var(--light-color);
    font-size: 1.5rem;
    transition: var(--transition);
}

.footer-content ul li a:hover {
    opacity: 0.7;
}

.footer-content ul li {
    margin: .5rem 1rem;
}

.footer-content > div:first-child {
    margin-bottom: 3rem;
}

.footer-content > div:first-child div {
    width: 140px;
    height: 140px;
    overflow: hidden;
    margin: 5rem auto;
    border-radius: 50%;
}

.footer-img {
    width: 140px;
}

.contact-img {
    width: 500px;
    height: 500px;
}


@media(min-width: 270px) {
     .portfolio-grid > div img {
        width: 75%;
        height: 75%;
        object-fit: cover;
        margin: auto;
    }
    
    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .banner_container {
        display: none;
    }
}

@media(min-width: 450px) {
    .work-bottom {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 0;
    }

    
    .reviews-grid > div img {
        height: 100%;
        width: 100%;
    }
    .portfolio-grid > div img {
        width: 75%;
        height: 75%;
        object-fit: cover;
        margin: auto;
    }
    
    .portfolio-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .banner_container {
        display: none;
    }
    
}

@media(min-width: 576px) {
    .title h2 {
        font-size: 4rem;
    }
    
    .work-bottom {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .portfolio-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .portfolio-grid > div {
        height: 300px;
        overflow: hidden;
    }
    
    .reviews-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .portfolio-grid > div img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .contact-left form .form-control {
        max-width: 500px;
    }
    
    .footer-content ul {
        flex-direction: row;
    }
    
    .reviews-grid > div img {
        height: 105%;
        width: 100%;
    }
    
    .reviews-grid > div {
        height: 100%;
    }
    .banner_container {
        display: none;
    }
    
    .contact-right {
        display: none;
    }
    
}

@media(min-width: 768px) {
    .header-content h1 {
        font-size: 7rem;
    }
    
    .about-content, .work-top {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
        row-gap: 0;
    }
    
    .work-top {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 6rem;
        row-gap: 0;
    }
    
    .about-left {
        margin-bottom: 0;
    }
    
    .contact-content {
        flex-direction: row;
    }
    
    .contact-right {
        padding-left: 3rem;
        width: 50%;
        align-items: center;
        display: flex;
    }
    
    .contact-right img {
        width: 100%;
        height: 70%;
    }
    
    .contact-left {
        width: 50%;
    }
    
    .reviews-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .reviews-grid > div img {
        height: 110%;
        width: 100%;
    }
    .banner_container {
        display: none;
    }
}

@media(min-width: 992px) {
    .reviews-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .reviews-grid > div {
        height: 280px;
        width: 280px;
    }
    .work-bottom {
        grid-template-columns: repeat(2, 1fr);
    }
    .banner_container {
        display: none;
    }
    
    .reviews-grid > div img {
        height: 110%;
        width: 100%;
    }
    
    .contact-right img {
        width: 100%;
        height: 100%;
    }
}

@media(min-width: 1100px) {
    .reviews-grid > div {
        height: 300px;
        width: 300px;
    }
    
    .banner_container {
        left: -24%;
        display: block;
    }
}

@media(min-width: 1150px) {
    .banner_container {
        left: -20%;
        display: block;
    }
}

@media(min-width: 1200px) {
    .portfolio-grid {
        grid-template-columns: repeat(5, 1fr);
    }
    
    .portfolio-grid > div:nth-child() {
        grid-column: 2 / 4; 
    }
    
    .portfolio-grid > div:nth-child() {
        grid-column: 1 / 3; 
    }
    .work-bottom {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .work-top div{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .banner_container {
        left: -20%;
        display: block;
    }
    
    .reviews-grid > div img {
        height: 115%;
        width: 100%;
    }
    
    .reviews-grid > div {
        height: 350px;
        width: 350px;
    }
    
}


@media(min-width: 1350px) {
    .banner_container {
        left: -15%;
        display: block;
    }
    
}
